


.hoverunderlines{
  @apply transition-all duration-300 ease-in-out;
  /* @apply mb-4; */
}

.hoverunderlines:hover {
@apply text-blue-500;
@apply underline;

}

/* menu Navbar underline design */
.onlyPara{
   position: relative;
}

.onlyPara::after{
   content: "";
   position: absolute;
   /* width: 25%; */
   /* @apply lg:w-40 w-28; */
   height: 3px;
   bottom: 0;
   background-color: blueviolet;
   left: 5px;
   top: 32px;
   /* right: 0; */
}

@keyframes lineanimate{
   0%{
     width: 0;
     left: 0px;
   }
   100%{
     width: 100%;
     left: 0;
   }
}

.onlyPara:hover::after{
  animation-name: lineanimate;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}


/*  Sub Menu Navbar */
.subMenu{
  position: relative;
}

.subMenu::after{
  content: "";
  position: absolute;
  /* width: 25%; */
  /* @apply lg:w-40 w-28; */
  height: 3px;
  bottom: 0;
  background-color: blueviolet;
  left: 0px;
  top: 32px;
}


@keyframes lineanimate{
  0%{
    width: 0;
    left: 10px;
  }
  100%{
    width: 100%;
    left: 0;
  }
}

.subMenu:hover::after{
 animation-name: lineanimate;
 animation-duration: 1s;
 animation-fill-mode: forwards;

}